[project]
	description = Innovative torch solution for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Merbin J Anselm (anselm94)
[access "refs/for/refs/*"]
	read = group user/Merbin J Anselm (anselm94)
	push = group user/Merbin J Anselm (anselm94)
	label-Code-Review = -2..+2 group user/Merbin J Anselm (anselm94)
	label-Verified = -1..+1 group user/Merbin J Anselm (anselm94)
	rebase = group user/Merbin J Anselm (anselm94)
	removeReviewer = group user/Merbin J Anselm (anselm94)
	submit = group user/Merbin J Anselm (anselm94)
[access "refs/heads/*"]
	read = group user/Merbin J Anselm (anselm94)
	create = group user/Merbin J Anselm (anselm94)
	push = +force group user/Merbin J Anselm (anselm94)
	pushMerge = group user/Merbin J Anselm (anselm94)
[access "refs/tags/*"]
	push = group user/Merbin J Anselm (anselm94)
	push = +force group user/Merbin J Anselm (anselm94)
